body.day{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ::selection{
    background-color: rgb(85, 85, 102);
} */

.index-struct{
    margin: 15px calc(20% / 2);
    font-size: 14px;
    color: gray;
}

.index-struct a{
    color: gray;
    text-decoration: none;
}

.index-struct a:hover{
    text-decoration: underline;
}

.header-title{
    margin-top: 35px;
}

.chapter{
    width: 80%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: auto;
    margin-bottom: 15px;
    line-height: 30px;
}

body.day .title-and-author{
    width: 80%;
    text-align: center;
    color: gray;
    text-indent: 0;
    line-height: 27px;
    margin: auto;
}

#txt{
    margin: auto;
    margin-top: 30px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 24px;
    /* color:rgb(170, 170, 170); */
    color:inherit;
}

#txt p{
    font-size: inherit;
    white-space: pre-wrap;
    margin-bottom: inherit;
    line-height: inherit;
    vertical-align: middle;
}

#txt p a{
    color: #2f80dc;
    text-decoration: none;
}

#txt p a:hover{
    color: #f5df15;
    text-decoration: underline;
    font-weight: bold;
}

#txt p::before{
    content: '　　';
}

div.subtitle{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* #txt p:first-of-type{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-indent: 0;
    margin-bottom: 15px;
    line-height: 30px;
}

body.day #txt p:nth-of-type(2){
    width: 100%;
    text-align: center;
    color: gray;
    text-indent: 0;
    line-height: 27px;
} */

/* body.day #txt p:last-of-type{
    margin-bottom: 50px;
} */

body.day #txt p i.fa.fa-bookmark{
    color: #2f80dc;
}

.header-title div.blank.line{
    margin-bottom: 40px;
}

body.day div.prev-next-chapter{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body.day>.header-title>div.blank.line{
    width: 60%;
    margin: auto;
    position: relative;
    /* left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); */
}

body.day div.blank.line{
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

body.day a.toolcase{
    display: block;
    position: fixed;
    bottom: 141px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(90, 90, 90);
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    /* border: 1px solid rgb(170, 170, 170); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.day a.toolcase i{
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}

body.day ul.toolcase-list{
    position: fixed;
    bottom: 178px;
    right: 20px;
    width: 38px;
    color: rgb(90, 90, 90);
    font-size: 16px;
    list-style: none;
    text-align: center;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
    padding: 0 3px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	display: none;
    background-color: rgba(255, 255, 255, 0.7);
}

body.day ul.toolcase-list li{
    border-bottom: 1px solid #999999;
}

body.day ul.toolcase-list li:last-of-type{
    border-bottom: 1px solid transparent;
}

body.day ul.toolcase-list li a{
    display: block;
    position: relative;
    width: 100%;
    color: rgb(90, 90, 90);
    font-size: 18px;
    list-style: none;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    /* line-height: 35px; */
}

body.day ul.toolcase-list li a:hover{
    color: #2f80dc;
}

body.day ul.toolcase-list li a span.tooltip-left{
    left: calc(50% - 60px);
    font-size: 0.9rem;
    color: rgb(96, 96, 96);
    line-height: 0.9rem;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.9);
}

body.day a.to-top{
    display: block;
    position: fixed;
    bottom: 98px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(90, 90, 90);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    /* border: 1px solid rgb(170, 170, 170); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.day a.to-top:hover{
    opacity: 1;
    color: #686868;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

body.day .mature-warning{
    position: fixed; 
    bottom: 0; 
    right: 0; 
    background-color: white; 
    width: 100vw; 
    height:100vh; 
    visibility: hidden;
}

body.day .warning-texts{
    color: black;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.warning{
    font-size: 18px;
}

.accessible{
    margin-top: 10px;
}

.accessible:hover{
    text-decoration: underline;
    cursor: pointer;
}

.unaccessible{
    margin-top: 5px;
}

.unaccessible:hover{
    text-decoration: underline;
    cursor: pointer;
}

.chapter-list-area{
    display: none;
    position: relative;
    z-index: 1000;
}

.dark-back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}

body.day .chapter-list{
    background-color: rgb(250,250,250);
    max-width: 25%;
    width: 0px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 16px 0 rgb(140,140,140);
    overflow-y: auto;
    padding: 10px 5px;
}

.chapter-list ul.list li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 2px;
}

.chapter-list ul.list li a{
    color: inherit;
    text-decoration: none;
}

body.day .chapter-list ul.list li.current-chapter a{
    color: #2f80dc;
    font-weight: bold;
}

body.day .chapter-list ul.list li:hover{
    background-color: rgb(240, 240, 240);
}

/* 上/下一章按钮 */
body.day div.prev-chapter {
    display: inline-block;
    border-radius: 4px;
    /* background-color: #3d405b; */
    border: none;
    color: gray;
    text-align: center;
    font-size: 17px;
    padding: 8px 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

body.day div.next-chapter {
    float: right;
    border-radius: 4px;
    /* background-color: #3d405b; */
    border: none;
    color: gray;
    text-align: center;
    font-size: 17px;
    padding: 8px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
   
body.day div.prev-chapter span,
body.day div.next-chapter span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
   
body.day div.next-chapter span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

body.day div.prev-chapter span::before{
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
}
   
body.day div.next-chapter:hover span {
    padding-right: 15px;
}

body.day div.prev-chapter:hover span{
    padding-left: 15px;
}
   
body.day div.next-chapter:hover span:after {
    opacity: 1;
    right: 0;
}

body.day div.prev-chapter:hover span::before{
    opacity: 1;
    left: 0;
}

body.day a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    /* width: 38px;
    height: 38px; */
    color: rgb(90, 90, 90);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.day a.switch-theme:hover{
    opacity: 1;
    color: #f5df15;
    text-shadow: 0 0 5px #f5df15;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

body.day .confirm-box {
    width: calc(100% - 2*3px);
    margin: 8px 0;
    margin-left: 3px;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid gray;
    transition: 100ms;
}

body.day .confirm-box:hover,
body.day .confirm-box:focus {
    border: 1px solid #2f80dc;
    box-shadow: 0 0 3px 0 #2f80dcc6;
}







/* 夜晚模式 */

body.night{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* body.night #txt p:nth-of-type(2){
    width: 100%;
    text-align: center;
    color: rgb(170, 170, 170);
    text-indent: 0;
    line-height: 27px;
} */

body.night>div.blank.line{
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

body.night div.prev-next-chapter{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body.night>.header-title>div.blank.line{
    width: 60%;
    margin: auto;
    /* position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); */
}

body.night .title-and-author{
    width: 80%;
    text-align: center;
    color: gray;
    text-indent: 0;
    line-height: 27px;
    margin: auto;
}

body.night #txt p:last-of-type{
    margin-bottom: 20px;
}

body.night #txt p i.fa.fa-bookmark{
    color: #f5df15bc;
}

body.night a.toolcase{
    display: block;
    position: fixed;
    bottom: 141px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(165, 165, 165);
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    padding: 3px;
    background-color: rgba(170, 170, 170, 0.2);
    /* border: 1px solid rgb(170, 170, 170); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

/* body.night a.toolcase:hover{
    opacity: 1;
    color: #999999;
    background-color: rgba(170, 170, 170, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
} */

body.night ul.toolcase-list{
    position: fixed;
    bottom: 178px;
    right: 20px;
    width: 38px;
    color: rgb(165, 165, 165);
    font-size: 16px;
    list-style: none;
    text-align: center;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
    padding: 0 3px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	display: none;
    background-color: rgba(41, 41, 56, 0.5);
}

body.night ul.toolcase-list li{
    border-bottom: 1px solid rgba(155, 155, 155, 0.542);
}

body.night ul.toolcase-list li:last-of-type{
    border-bottom: 1px solid transparent;
}

body.night ul.toolcase-list li a{
    display: block;
    position: relative;
    width: 100%;
    color: rgb(165, 165, 165);
    font-size: 18px;
    list-style: none;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    /* line-height: 35px; */
}

body.night ul.toolcase-list li a:hover{
    color: #f5df15bc;
}

body.night ul.toolcase-list li a span.tooltip-left{
    left: calc(50% - 60px);
    font-size: 0.9rem;
    color: rgb(210, 210, 210);
    line-height: 0.9rem;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(66, 61, 8);
}

body.night .chapter-list{
    background-color: rgb(41, 41, 56);
    max-width: 25%;
    width: 0px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 16px 0 rgb(80, 80, 80);
    overflow-y: auto;
    padding: 10px 5px;
}

body.night .chapter-list ul.list li.current-chapter a{
    color: #f5df15;
    font-weight: bold;
}

body.night .chapter-list ul.list li:hover{
    background-color: rgb(52, 52, 67);
}

/* 上/下一章按钮 */
body.night div.prev-chapter {
    display: inline-block;
    border-radius: 4px;
    /* background-color: #3d405b; */
    border: none;
    color: rgb(210, 210, 210);
    text-align: center;
    font-size: 17px;
    padding: 8px 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

body.night div.next-chapter {
    float: right;
    border-radius: 4px;
    /* background-color: #3d405b; */
    border: none;
    color: rgb(210, 210, 210);
    text-align: center;
    font-size: 17px;
    padding: 8px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
   
body.night div.prev-chapter span,
body.night div.next-chapter span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
   
body.night div.next-chapter span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

body.night div.prev-chapter span::before{
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
}
   
body.night div.next-chapter:hover span {
    padding-right: 15px;
}

body.night div.prev-chapter:hover span{
    padding-left: 15px;
}
   
body.night div.next-chapter:hover span:after {
    opacity: 1;
    right: 0;
}

body.night div.prev-chapter:hover span::before{
    opacity: 1;
    left: 0;
}

body.night a.to-top{
    display: block;
    position: fixed;
    bottom: 98px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(165, 165, 165);
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    /* border: 1px solid rgb(170, 170, 170); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
    background-color: rgba(170, 170, 170, 0.2);
}

body.night a.to-top:hover{
    opacity: 1;
    color: #999999;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

body.night a.to-top:active{
    opacity: 1;
    color: rgb(41, 41, 41);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

body.night .mature-warning{
    position: fixed; 
    bottom: 0; 
    right: 0; 
    background-color: rgb(41, 41, 56); 
    width: 100vw; 
    height:100vh; 
    visibility: hidden;
}

body.night .warning-texts{
    color: rgb(197, 202, 207);
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body.night a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(165, 165, 165);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    background-color: rgba(170, 170, 170, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.night a.switch-theme:hover{
    opacity: 1;
    color: #2f80dc;
    text-shadow: 0 0 5px #2f80dc;
    background-color: rgba(170, 170, 170, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

body.night .confirm-box {
    color: inherit;
    width: calc(100% - 2*3px);
    margin: 8px 0;
    margin-left: 3px;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: inherit;
    transition: 100ms;
}

body.night .confirm-box:hover,
body.night .confirm-box:focus {
    border: 1px solid #f5df15;
    box-shadow: 0 0 3px 0 #f5df15c6;
}

/* 照搬 global.css */
body.night{
    font-family: '宋体',sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    background-color: rgb(41, 41, 56);
    color: rgb(197, 202, 207);
}

body.night p.footer{
    color: inherit;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    clear: both;
    transition: 200ms;
}

body.night p.footer a{
    color: inherit;
    text-decoration: none;
    transition: 200ms;
}

body.night p.footer a:hover{
    text-decoration: underline;
}

body.night div.blank.footer-bottom{
    height: 20px;
}

body.night div.blank.line{
    margin-top: 10px;
    border-top: 1px solid rgba(155, 155, 155, 0.542);
    transition: 200ms;
}

body.night a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(165, 165, 165);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    background-color: rgba(170, 170, 170, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.night a.switch-theme:hover{
    opacity: 1;
    color: #2f80dc;
    text-shadow: 0 0 5px #2f80dc;
    background-color: rgba(170, 170, 170, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}


/* 移动端 */
@media only screen and (max-width:768px) {
    .index-struct{
        margin: 15px calc(10% / 2);
        font-size: 14px;
        color: gray;
    }

    #txt{
        margin:auto;
        margin-top: 30px;
        width: 90%;
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 24px;
        /* color:rgb(170, 170, 170); */
        color:inherit;
    }

    body.day div.blank.line{
        margin: auto;
        margin-top: 100px;
        width: 90%;
    }

    body.night div.blank.line{
        margin: auto;
        margin-top: 100px;
        width: 90%;
    }

    body.day div.prev-next-chapter{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    body.night div.prev-next-chapter{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .chapter{
        width: 90%;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        text-indent: 0;
        margin: auto;
        margin-bottom: 15px;
        line-height: 30px;
    }

    body.day .title-and-author{
        width: 90%;
        text-align: center;
        color: gray;
        text-indent: 0;
        line-height: 27px;
        margin: auto;
    }

    body.night .title-and-author{
        width: 90%;
        text-align: center;
        color: gray;
        text-indent: 0;
        line-height: 27px;
        margin: auto;
    }

    body.day .chapter-list{
        max-width: 50%;
    }

    body.night .chapter-list{
        max-width: 50%;
    }
}
