/* 字体注册 */
/* 
 * 浏览器可读取的字体文件总大小是有限的，超出范围的话布局会乱
 */

@media only screen and (orientation:landscape){
/* 霞鹜文楷 */
@font-face {
    font-family: font-xiawuwenkai;
    src: url(../fonts/LXGWWenkai.ttf);
}

/* 霞鹜新晰黑 */
@font-face {
    font-family: font-xiawuxinxihei;
    src: url(../fonts/LXGWNeoXiHeiScreenFull.ttf);
}

/* 昭源宋体 */
@font-face {
    font-family: font-zhaoyuansongti;
    src: url(../fonts/ChironSungHK-R.ttf);
}

/* 极影毁片和圆体 */
@font-face {
    font-family: font-jiyinghuipianheyuanti;
    src: url(../fonts/JiYingHuiPianHeYuan1.01.ttf);
}
}

/* =============================================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.day{
    font-family: font-xiawuwenkai,'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

div.background{
    width: 100%;
    height: 100%;
    position: absolute;
}

.yu{
    color: #2f80dc;
}

.huang{
    color: #f5df15;
}

.blue-rain{
    color: #05c0f8;
}

/* 
    Tooltip 
        tooltip-down tooltip-up tooltip-right tooltip-left
    用法：必须将span放到a的内部。可放置在文字前面或后面。
    例：<a href="#">这是文本<span class="tooltip-down">这是悬浮内容</span></a>
    可应用于全局，故具体的样式请查看各个网页所用的单独的css内部。
*/

/* tooltip-down */
a span.tooltip-down{
    float: left;
    opacity: 0;
    visibility: hidden;
    /* 将span.tooltip-down定位到父元素a上，position用absolute */
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    /* 可选参数：*/
    /*top: calc(50% + 35px); 
    font-size: 0.8rem;
    color: rgb(132, 132, 132);
    padding: 3px 3px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.7);
    transition-duration: 200ms; */
}

a:hover span.tooltip-down{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-down:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* tooltip-up */
a span.tooltip-up{
    float: left;
    opacity: 0;
    visibility: hidden;
    /* 将span.tooltip-up定位到父元素a上，position用absolute */
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    /* 可选参数： */
    /*bottom: calc(50% + 10px);
    font-size: 0.8rem;
    color: rgb(132, 132, 132); 
    padding: 3px 3px; 
    border-radius: 5px; 
    background: rgba(240, 248, 255, 0.7); 
    transition-duration: 200ms; */
}

a:hover span.tooltip-up{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-up:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* tooltip-left */
a span.tooltip-left{
    float: left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    /* 可选参数：*/
    /* right: calc(-50% + 8px);
    font-size: 0.8rem;
    color: rgb(132, 132, 132);
    padding: 3px 3px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.7);
    transition-duration: 200ms; */
}

a:hover span.tooltip-left{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-left:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* tooltip-right */
a span.tooltip-right{
    float: left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    /* 可选参数：*/
    /* left: calc(50% + 68px);
    font-size: 0.8rem;
    color: rgb(132, 132, 132);
    padding: 3px 3px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.7);
    transition-duration: 200ms; */
}

a:hover span.tooltip-right{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-right:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* 页脚 */
body.day p.footer{
    color: gray;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    clear: both;
}

body.day p.footer a{
    color: gray;
    text-decoration: none;
}

body.day p.footer a:hover{
    text-decoration: underline;
}

body.day div.blank.footer-bottom{
    height: 20px;
}

/* 用于解决高度塌陷 */
div.blank{
    height: 0px;
    clear: both;
}

body.day div.blank.line{
    margin-top: 10px;
    border-top: 1px solid rgba(155, 155, 155, 0.542);
}

body.day a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(90, 90, 90);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    /* border: 1px solid rgb(170, 170, 170); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.day a.switch-theme:hover{
    opacity: 1;
    color: #f5df15;
    text-shadow: 0 0 5px #f5df15;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}





/* 夜晚模式 */

body.night{
    font-family: font-xiawuwenkai, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    background-color: rgb(41, 41, 56);
    color: rgb(197, 202, 207);
}

body.night p.footer{
    color: inherit;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    clear: both;
    transition: 200ms;
}

body.night p.footer a{
    color: inherit;
    text-decoration: none;
    transition: 200ms;
}

body.night p.footer a:hover{
    text-decoration: underline;
}

body.night div.blank.footer-bottom{
    height: 20px;
}

body.night div.blank.line{
    margin-top: 10px;
    border-top: 1px solid rgba(155, 155, 155, 0.542);
    transition: 200ms;
}

body.night a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(165, 165, 165);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    background-color: rgba(170, 170, 170, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

body.night a.switch-theme:hover{
    opacity: 1;
    color: #2f80dc;
    text-shadow: 0 0 5px #2f80dc;
    background-color: rgba(170, 170, 170, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
