*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

body{
    font-family: sans-serif,'Times New Roman';
    letter-spacing: 1px;
}

input, select{
    outline-style: none;
}

div.background{
    width: 100%;
    height: 100%;
    position: absolute;
}

::selection{
    user-select: none;
    -webkit-user-select: none;
}

.yu{
    color: #2f80dc;
}

.huang{
    color: #f5df15;
    /* color: #ffbf49; */
}

.blue-rain{
    color: #05c0f8;
}

/* 通用 header */

div.header{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: rgb(45, 45, 45);
    z-index: 998;
}

div.header-logo{
    position: fixed;
    top: 0;
    height: 50px;
    line-height: 50px;
    display: flex;
}

div.header-logo img{
    width: 17px;
    height: 17px;
    margin: 9px;
    margin-top: 15px;
}

div.header-logo a{
    font-size: 18px;
    margin-left: 5px;
    color: rgb(235, 235, 235);
    text-decoration: none;
}

div.menu-icon{
    display: none;
    float: left;
    line-height: 50px;
    color: rgb(235, 235, 235);
    margin-right: 9px;
    cursor: pointer;
}

ul.menu-columns{
    height: 50px;
    line-height: 50px;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(45, 45, 45);
}

ul.menu-columns li{
    color: rgb(235, 235, 235);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
    padding: 0 5px;
}

ul.menu-columns li.current-page{
    font-weight: bold;
    border-bottom: 5px solid #f5df15;
}

ul.menu-columns li:hover{
    border-bottom: 5px solid #05c0f8;
}

ul.menu-columns li a{
    color: rgb(235, 235, 235);
    font-size: 14px;
    text-decoration: none;
}

ul.menu-columns li:last-of-type{
    margin-right: 20px;
    margin-bottom: 0;
}

ul.menu-columns li:hover{
    font-weight: bold;
}

/* 通用footer */

div.footer{
    position: relative;
    width: 100%;
    text-align: center;
}

div.footer div.random-line{
    font-size: 20px;
    color: gray;
}

/* 通用checkbox */
/* 隐藏默认复选框 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
   
.container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
}
   
/* 创建一个自定义复选框 */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 5px;
}
   
/* 勾选复选框时增加绿色背景 */
.container input:checked ~ .checkmark {
    background-color: #47da99;
    animation: pop 0.5s;
    animation-direction: alternate;
}
   
/* 创建勾选标记 (取消勾选时隐藏) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
   
/* 勾选时显示标记 */
.container input:checked ~ .checkmark:after {
    display: block;
}
   
/* 给勾选标记做外观 */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
   
@keyframes pop {
    0% {
        transform: scale(1);
    }
   
    50% {
        transform: scale(0.9);
    }
   
    100% {
        transform: scale(1);
    }
}

/* Radio 按钮 */
.common-radio input:focus {
    outline: 0;
    border-color: #05c0f8;
    box-shadow: 0 0 0 4px #d5eeff;
}

.common-radio div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}

.common-radio input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.common-radio input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #05c0f8;
    background-color: #e2f3ff;
    z-index: 1;
    color: black;
}

.common-radio label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: rgb(117, 122, 135);
    text-align: center;
    transition: background-color .5s ease;
}

.common-radio label:first-child span {
    border-radius: .375em 0 0 .375em;
}

.common-radio label:last-child span {
    border-radius: 0 .375em .375em 0;
}

/* 
    Tooltip 
        tooltip-down tooltip-up tooltip-right tooltip-left
    用法：必须将span放到a的内部。可放置在文字前面或后面。
    例：<a href="#">这是文本<span class="tooltip-down">这是悬浮内容</span></a>
    可应用于全局，故具体的样式请查看各个网页所用的单独的css内部。
*/

/* tooltip-down */
a span.tooltip-down{
    float: left;
    opacity: 0;
    visibility: hidden;
    /* 将span.tooltip-down定位到父元素a上，position用absolute */
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    /* 可选参数：*/
    /*top: calc(50% + 35px); 
    font-size: 0.8rem;
    color: rgb(132, 132, 132);
    padding: 3px 3px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.7);
    transition-duration: 200ms; */
}

a:hover span.tooltip-down{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-down:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* tooltip-up */
a span.tooltip-up{
    float: left;
    opacity: 0;
    visibility: hidden;
    /* 将span.tooltip-up定位到父元素a上，position用absolute */
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    /* 可选参数： */
    /*bottom: calc(50% + 10px);
    font-size: 0.8rem;
    color: rgb(132, 132, 132); 
    padding: 3px 3px; 
    border-radius: 5px; 
    background: rgba(240, 248, 255, 0.7); 
    transition-duration: 200ms; */
}

a:hover span.tooltip-up{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-up:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* tooltip-left */
a span.tooltip-left{
    float: left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    /* 可选参数：*/
    /* right: calc(-50% + 8px);
    font-size: 0.8rem;
    color: rgb(132, 132, 132);
    padding: 3px 3px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.7);
    transition-duration: 200ms; */
}

a:hover span.tooltip-left{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-left:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* tooltip-right */
a span.tooltip-right{
    float: left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    /* 可选参数：*/
    /* left: calc(50% + 68px);
    font-size: 0.8rem;
    color: rgb(132, 132, 132);
    padding: 3px 3px;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.7);
    transition-duration: 200ms; */
}

a:hover span.tooltip-right{
    opacity: 1;
    visibility: visible;
}

a span.tooltip-right:hover{
    opacity: 0;
    visibility: hidden;
    /* color: rgb(132, 132, 132); */
}

/* 页脚 */
p.footer{
    color: gray;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    clear: both;
}

p.footer a{
    color: gray;
    text-decoration: none;
}

p.footer a:hover{
    text-decoration: underline;
}

div.blank.footer-bottom{
    height: 20px;
}

/* 用于解决高度塌陷 */
div.blank{
    height: 0px;
    clear: both;
}

div.blank.line{
    margin-top: 10px;
    border-top: 1px solid rgba(155, 155, 155, 0.542);
}

/* 通用警告框样式 */
div.warning-box{
    position: relative;
    background-color: #ffefc3;
    border-left: 5px solid orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 40px;
}

div.warning-box i{
    float: left;
    font-size: 20px;
    color: orange;
    margin-right: 10px;
    text-shadow: 1px 1px rgb(214, 214, 214);
}

div.no-js-warning{
    background-color: #ffeeb1;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

div.no-js-warning div.warnings{
    color: #693d00;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

div.no-js-warning div.warnings i{
    color: #693d00;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

/* body.day a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(90, 90, 90);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    /* border: 1px solid rgb(170, 170, 170); 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
} */

/* body.day a.switch-theme:hover{
    opacity: 1;
    color: #f5df15;
    text-shadow: 0 0 5px #f5df15;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
} */





/* 夜晚模式 */

/* body.night{
    font-family: '宋体', 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    background-color: rgb(41, 41, 56);
    color: rgb(197, 202, 207);
}

body.night p.footer{
    color: inherit;
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    clear: both;
    transition: 200ms;
}

body.night p.footer a{
    color: inherit;
    text-decoration: none;
    transition: 200ms;
}

body.night p.footer a:hover{
    text-decoration: underline;
}

body.night div.blank.footer-bottom{
    height: 20px;
}

body.night div.blank.line{
    margin-top: 10px;
    border-top: 1px solid rgba(155, 155, 155, 0.542);
    transition: 200ms;
} */

/* body.night a.switch-theme{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    color: rgb(165, 165, 165);
    font-size: 32px;
    text-align: center;
    border-radius: 3px;
    padding: 0 3px;
    background-color: rgba(170, 170, 170, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
} */

/* body.night a.switch-theme:hover{
    opacity: 1;
    color: #2f80dc;
    text-shadow: 0 0 5px #2f80dc;
    background-color: rgba(170, 170, 170, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
} */

@media only screen and (max-width: 768px) {
    div.header{
        width: 100%;
        height: 50px;
        position: sticky;
        top: 0;
        background-color: rgb(45, 45, 45);
        z-index: 999;
    }
    
    div.menu-icon{
        display: block;
        float: right;
        line-height: 50px;
        color: rgb(235, 235, 235);
        margin-right: 9px;
        cursor: pointer;
    }
    
    ul.menu-columns{
        display: none;
        padding: 10px;
        position: fixed;
        top: 50px;
        z-index: 999;
        width: 100%;
        background-color: rgb(45, 45, 45);
        border-top: 1px solid rgb(235, 235, 235);
        line-height: normal;
        height: auto;
    }
    
    ul.menu-columns li{
        width: 100%;
        color: rgb(235, 235, 235);
        font-size: 14px;
        margin-bottom: 5px;
        cursor: pointer;
        text-align: center;
        display: block;
        padding: 0;
    }

    ul.menu-columns li.current-page{
        font-weight: normal;
        border-bottom: none;
    }
    
    ul.menu-columns li:hover{
        border-bottom: none;
    }

    ul.menu-columns li a{
        color: rgb(235, 235, 235);
        font-size: 14px;
        text-decoration: none;
    }
    
    ul.menu-columns li:last-of-type{
        margin-bottom: 0;
    }
    
    ul.menu-columns li:hover{
        font-weight: bold;
    }
    
    ul.menu-columns li:hover::before{
        content: "> ";
    }
    
    ul.menu-columns li:hover::after{
        content: " <";
    }
}
