*{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.content{
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
}

div.main-logo{
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

div.search-box{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

div.search-input{
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgb(190, 190, 190);
}

input.search-area{
    font-size: 12px;
    width: calc(100% - 75px);
    line-height: 30px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 5px;
    padding: 5px 0;
}

span.clear-text{
    font-size: 12px;
    color: rgb(190, 190, 190);
    vertical-align: middle;
    cursor: pointer;
    visibility: hidden;
    margin-right: 3px;
}

span.search-executor{
    color: rgb(190, 190, 190);
    cursor: pointer;
    vertical-align: middle;
    transition: 0.2s;
    border-left: 1px solid rgb(190, 190, 190);
    padding-left: 8px;
}

span.search-executor:hover{
    color: #2f80dc;
}

div.search-target{
    margin-top: 20px;
}

div.search-target label{
    width: calc(50% / 2);
}

div.advanced-settings{
    width: 48%;
    margin: auto;
    margin-top: 10px;
    position: relative;
    color: gray;
}

div.advanced-settings div.row{
    font-size: 14px;
    height: 19px;
    cursor: pointer;
}

div.advanced-settings div.row i.arrow-down{
    float: right;
    margin-right: 5px;
}

ul.settings-columns{
    display: none;
    font-size: 14px;
    padding-top: 5px;
    margin-left: -9px;
    padding-left: 10px;
    padding-right: 11px;
    border-left: 1px solid gray;
}

ul.settings-columns::before{
    content: "";
    display: table;
    clear: both;
}

ul.settings-columns input,
ul.settings-columns select{
    font-size: 14px;
    height: 16px;
    width: 10rem;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
}

ul.settings-columns input:focus{
    border-bottom: 1px solid #05c0f8;
}

ul.settings-columns li{
    margin-bottom: 5px;
}

span.tags-list-btn,
span.type-list-btn{
    cursor: pointer;
}

span.tags-list-btn::before,
span.type-list-btn::before{
    content: "[";
}

span.tags-list-btn::after,
span.type-list-btn::after{
    content: "]";
}

div.search-result-box{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 80px;
    /* position: relative; */
    font-size: 14px;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 5px;
    border-radius: 5px;
}

div.search-text{
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

div.initial-result{
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}

div.initial-result a{
    color: #2f80dc;
    text-decoration: none;
}

div.initial-result a:hover{
    color: #f5df15;
    font-weight: bold;
    text-decoration: underline;
}

div.no-result{
    display: none;
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}

div.searching-symbol{
    display: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.result-pages>div{
    display: none;
}

div.result-pages>div:first-of-type{
    display: block;
}

.search-result-area{
    position: relative;
    width: 100%;
    /* margin-bottom: 60px; */
}

.pagination-container{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ul.pagination{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

span.selectable-tag{
    display: inline-block;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    padding: 1px 3px;
    margin: 3px 3px;
    cursor: pointer;
}

span.selectable-tag.selected{
    display: inline-block;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 5px;
    background-color: #fffacd;
    padding: 1px 3px;
    margin: 3px 3px;
    cursor: pointer;
}

span.selectable-tag:hover{
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(236, 236, 236);
}

span.selectable-tag.selected:hover{
    border: 1px solid rgb(255, 196, 0);
    background-color: #fffacd;
}

span.selectable-tag i{
    color: rgb(190, 190, 190);
    margin-right: 2px;
}

span.selectable-tag.selected i{
    color: rgb(255, 196, 0);
    margin-right: 2px;
}

span.shown-tag{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

span.shown-tag:hover i{
    color: #05c0f8;
}

div.article-item{
    padding: 15px 10px;
    border-bottom: 2px dotted grey;
}

div.result-pages div.article-item:last-of-type{
    border-bottom: none;
}
div.article-item:hover{
    background-color: rgb(245, 245, 245);
}
div.article-item:hover span.a-author{
    background-color: rgba(245, 245, 245, 0.777);
}
div.title-item{
    position: relative;
    border-bottom: 1px solid #2f80dc;
    padding: 0 15px;
    padding-bottom: 5px;
}
div.title-item div.a-title{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.title-item div.a-title:hover i{
    color: #05c0f8;
}
div.title-item div.a-title a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}
div.title-item div.a-title a:hover{
    text-decoration: underline;
}
div.title-item span.a-author{
    position: absolute;
    right: 0;
    bottom: 5px;
    background-color: rgba(255, 255, 255, 0.777);
    padding: 0 3px;
}
div.title-item span.a-author::before{
    content: 'by ';
}
div.article-item div.summary{
    padding: 0 15px;
    margin-top: 10px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
div.article-item div.summary::before{
    content: '简介：';
}
div.article-item div.tags-list{
    margin-top: 5px;
    padding: 0 15px;
}
div.article-item div.tags-list span.tag{
    color: gray;
    padding: 0 3px;
    margin: 5px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
div.article-item div.tags-list span.tag:hover i{
    color: #05c0f8;
}
div.article-item div.statistics{
    padding: 0 15px;
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}
div.article-item div.statistics span{
    color: black;
}

div.snippets-showcase{
    width: 50%;
    margin: auto;
    padding: 20px 15px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
}

div.snippets-showcase a{
    display: none;
    color: #2f80dc;
    text-decoration: none;
    cursor: pointer;
}

div.snippets-showcase a:hover{
    color: #f5df15;
    font-weight: bold;
    text-decoration: underline;
}

div.snippets-showcase span i{
    background-color: #e1e4e8aa;
}

div.refresh{
    width: 100%;
    text-align: center;
    color: gray;
    margin-top: 5px;
    cursor: pointer;
    font-size: 13px;
}

/* 移动端适配 */
@media only screen and (max-width: 768px) {
    div.main-logo{
        width: 100%;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

    div.search-box{
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }

    div.search-input{
        width: 80%;
        height: 40px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0 0 5px 0 rgb(190, 190, 190);
    }

    input.search-area{
        font-size: 14px;
        width: calc(100% - 75px);
        line-height: 30px;
        border: none;
        margin: 0 5px;
        padding: 5px;
    }

    span.search-executor{
        font-size: 18px;
        color: rgb(190, 190, 190);
        cursor: pointer;
        vertical-align: middle;
        transition: 0.2s;
    }

    div.search-target label{
        width: calc(80% / 2);
    }

    div.advanced-settings{
        width: 78%;
        margin: auto;
        margin-top: 10px;
        position: relative;
        color: gray;
    }

    div.search-result-box{
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 80px;
        position: relative;
        font-size: 16px;
        border: 1px solid rgb(190, 190, 190);
        padding: 10px 5px;
        border-radius: 5px;
    }

    div.initial-result{
        color: gray;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        margin-left: 5px;
    }

    div.snippets-showcase{
        width: 80%;
        margin: auto;
        padding: 20px 15px;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 5px;
        margin-bottom: 30px;
    }
}
